.item {
    display: flex;
    /* align-items: center; */
}

.item:not(:last-of-type) {
    padding-bottom: 10px;
}

.item img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.buttonWrapper {
    margin-left: -12px;
}

.buttonText {
    margin-left: 3px;
}