.usersContent {
  display: flex;
  flex-direction: column;
}

.pagination {
  margin-top: 40px;
  align-self: center;
}

.itemsList {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  margin-top: 30px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center
}

.cardWrapper {
    display: flex;
    flex-direction: column;

}

.card img {
    width: 150px;
    height: 150px;
}
