.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "h h"
    "n m";

  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px; 
}

.app-wrapper-content {
  grid-area: m;
  background-color: yellow;
  padding: 20px;
}




.nav__list{

}
.nav__link{

}
