.app-wrapper {
  display: flex;
  margin: 0 auto;

  grid-template-areas:
    "h h h"
    "n m m";

  grid-template-rows: 64px 1fr;
  grid-template-columns: 240px 1fr;
}


.app-wrapper-content {
  padding: 90px 40px 40px 40px;
  grid-area: m;
  background-color: #eceff1;
  flex-grow: 2;
}